.maincss8{
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 3%;
    padding-right: 3%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.22) 7.62%, rgba(0, 225, 198, 0.06) 25.5%, #FFFFFF 70.92%);    .container8{
        display: flex;
        flex-direction: column;
        align-items: center;
        .container8a{
            margin-top: 10%;
            margin-bottom: 10%;
            width: 54%;
            h1{
                text-align: center;
                margin: 2%;
                font-weight: 300;
                font-size: $h1-medium;
            }
        }
        .container8b{
            margin-top: 5%;
            width: 90%;
            // text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
                font-size: $p-font-size;
            }
            p:nth-child(1){
                text-align: center;
                margin-top: 2vh;
            }
            p:nth-child(2){
                text-align: center;
                width: 80%;
                margin: 3vh auto;
            }
            .button8{
                text-align: center;
                max-width: 176px;
                width: 100%;
                height: 52px;
                line-height: 52px;
                border-radius: 85px;
                background-color: $primary-color;
                color: $white;
                margin-top: 7vh;
                margin-bottom: 2vh;
            }
        }
    }
  
    
}