.maincss7{
    padding-top: 12.37%;
    padding-bottom: 12.37%;
    padding-left: 13.5%;
    padding-right: 13.5%;
    background-color: $bgc-7;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;    
    color: $white;
    .text7{
        margin: 2%;
        // background-color:red;
        h1{
            font-size: $h1-font-size;
        }
        p{
            margin-top: 2.5vh;
            font-size: $p-font-size;
        }
    }
    .text7b{
        width: 60%;
        // background-color:red;
        margin: 6vh auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        .Trial{
            // background-color: yellow;
            margin-top: 2vh;
            width: 80%;
            font-size: 20px;
            text-transform: uppercase;
            font-size: $p-font-size;
            .freeTrial{
                margin-top: 0.5vh;
            }
            
        }
        .price{
            height: 78px;
            margin: 5%;
            // border: 1px solid black;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            
            .priceA{
                // background-color: rgb(199, 175, 71);
                width: 100%;
                height: 78px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $yellow;
                span{
                    font-size: 50px;
                }
            }
            .priceB{
                width: 100%;
                height: 78px;
                // background-color: pink;
                display: flex;
                align-items: center;
                justify-content: center;
                span{
                    text-align: left;
                    font-size: $p-font-size;
                }
            }
        }
        p{
            margin-top: 3vh;
            font-size: $p-font-size;
        }
        .button7{
            max-width: 196px;
            width: 100%;
            height: 52px;
            border-radius: 85px;
            margin-top: 3vh;
            line-height: 52px;
            background-color: $primary-color;
            font-size: $button-font-size;
        }

    }
}