//colors
$primary-color: #00B6F0;
$secondary-color: #112D57;
$p-color: #5C5C5C;
$yellow: #F3CD03;
$bar-color: #F3F5F8;
$white: white;
$bgc-7:#182333;
// font-size 
$button-font-size: 1.2em;
$h1-font-size:3.33em;
$p-font-size:1.38em;
$h1-medium: 2.75em;
//fontsize xxxl
$h1-xxxl-fz: 3.7em;
$p-xxxl-fz: 1.56em;
$button-xxxl-fz: 1.4em;
$h1-xxxl-medium: 3em;
//desktop

$h1-desktop-fz:56px;
$h1-desktop-medium:36px;
$p-desktop-fz:19px;
$button-desktop-fz:18px;